backend/.venv/
backend/__pycache__/
backend/*.db
backend/.env
backend/profile/images/
backend/static/images/
.deployvenv/
.vercel/
frontend/.vercel/
frontend/node_modules/
frontend/dist/
frontend/.env
